<html>
    <body>
        <div class="login">
            <h1>FWI Prediction</h1>

            <form action="{{url_for('predict_datapoint')}}" method="POST">
            
            <input type="text" name="Temperature" placeholder="Temperature" required="required"><br>
            <input type="text" id="RH" name="RH" placeholder="RH" required><br>
            <input type="text" id="Ws" name="Ws" placeholder="Ws" required><br>
            <input type="text" id="Rain" name="Rain" placeholder="Rain" required><br>
            <input type="text" id="FFMC" name="FFMC" placeholder="FFMC" required><br>
            <input type="text" id="DMC" name="DMC" placeholder="DMC" required><br>
            <input type="text" id="ISI" name="ISI" placeholder="ISI" required><br>
            <input type="text" id="Classes" name="Classes" placeholder="Classes" required><br>
            <input type="text" id="Region" name="Region" placeholder="Region" required><br>

            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

        </div>
        <h2>
            THE FWI prediction is {{results}}
        </h2>
    </body>

</html>